.Footer{
    margin-bottom: -20px;

    
}
.footercont{
    
    background-color: white;
    box-shadow: 0px 0px 4px 0px dodgerblue;
    
}
.logofooter{
    width: 50px;
}
.MainDsc{
    color: black ;
}
.lastcont{
    background-color: dodgerblue;
    padding: 10px;
    color: white;
}
.footerhead{
    color: grey;
    font-size: 25px;
    
}
.facebookicon{
    width: 40px;
}
.githubicon{
    width: 40px;
    
}
.sociallinks{
    
}
.textc{
    color: dodgerblue;
}

.socialcontainer{
    padding: 40px;
}
